.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

div ul{
    font-size: 1em;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div button{
    padding: 5px 10px;
    font-size: 1em;
}