.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #212121;
    margin: 10px auto;
    padding: 10px 15px;
}

.logo{
    display: flex;
}

.navbar ul{
    font-size: 1em;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button{
    padding: 5px 10px;
    font-size: 1em;
}