.todoList{
    padding: 10px;
}
.todoList ul li {
    padding: 10px;
    width: 250px;
    height: 250px;
    border: 2px solid #212121;
    margin: 0 10px;
}

.todoList input,textarea{
    width: 100%;
    border: none;
    font-size: 0.90em;
}

.todoList #todoHeading{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.todoList #todoDes{
    height: 73%;
    padding: 5px;
}
.todoList input:focus{
    outline: none;
}
.todoList textarea:focus{
    outline: none;
}

.todoList .btn{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}