
.contactusPage h1{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.contactusPage .contactusPageComp{
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
